aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.12.0
altgraph==0.17.2
anyio==3.7.1
apispec==6.3.0
argcomplete==3.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
async-timeout==4.0.2
attrs==23.1.0
auto-py-to-exe==2.22.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
bottle==0.12.23
bottle-websocket==0.2.9
cachelib==0.9.0
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
clickclick==20.10.2
colorama==0.4.5
colorlog==4.8.0
ConfigUpdater==3.1.1
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==41.0.4
cycler
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
Django
dnspython
docutils
Eel
email-validator
entrypoints
exceptiongroup
executing
fastapi
fastjsonschema
Flask
Flask-AppBuilder
Flask-Babel
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
fonttools
frozenlist
future
gevent
gevent-websocket
google-re2
googleapis-common-protos
graphviz
greenlet
grpcio
gunicorn
h11
httpcore
httptools
httpx
idna
importlib-metadata
importlib-resources
inflection
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter-core
jupyter_client
jupyterlab-pygments
kiwisolver
lazy-object-proxy
limits
linkify-it-py
lockfile
lxml
magic-filter
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-oneofschema
marshmallow-sqlalchemy
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
ordered-set
orjson
packaging
pandas
pandocfilters
parso
pathspec
pefile
pendulum
pickleshare
Pillow
pluggy
prison
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyparsing
pyrsistent
python-daemon
python-dateutil
python-dotenv
python-multipart
python-nvd3
python-pptx
python-slugify
pytz
pytzdata
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
referencing
requests
requests-toolbelt
rfc3339-validator
rich
rich-argparse
rpds-py
scikit-learn
scipy
Send2Trash
setproctitle
six
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
stack-data
starlette
tabulate
tenacity
termcolor
terminado
text-unidecode
threadpoolctl
tinycss2
tornado
tqdm
traitlets
tzdata
uc-micro-py
ujson
unicodecsv
urllib3
uvicorn
watchfiles
wcwidth
webencodings
websockets
Werkzeug
whichcraft
wrapt
WTForms
XlsxWriter
yarl
zipp
zope.event
zope.interface
